# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.env
.env
.venv/
venv/
ENV/
env.bak/
pip-log.txt

# Streamlit and app data
.streamlit/
data/hr_docs/
vector_store/

# VSCode and IDEs
.vscode/
.idea/

# OS and misc
.DS_Store
Thumbs.db
